h1{
    color: blue;
    text-align: center;
}

.b{
    font-size: 60px;
    color:black;
    margin-left: 40px;
}

.first{
    font-size: x-large;
    color: black;

}
body{
    background-color: gold;
    
}


.sixth{
 
    font-size: x-large;
    color: red;
}

.footer-1{
    background-color: black;
    color:wheat;
    padding-bottom: 5px;
    padding-top: 5px;
}